/* Estilização global do corpo */
body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #e3f2fd;
  color: #ffffff;
}

/* Estilização do bloco principal */
.container {
  width: 780px;
  border-radius: 20px;
  padding: 35px 40px;
  background-color: #000000;
}

/* Estilização do cabeçalho */
.container header {
  color: #b2b2b2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Estilização do título do Piano Virtual */
header h2 {
  font-size: 1.6rem;
}

/* Estilização das colunas do cabeçalho */
header .column {
  display: flex;
  align-items: center;
}

/* Estilização dos rótulos nas colunas do cabeçalho */
header .column span {
  font-weight: 500;
  margin-right: 15px;
  font-size: 1.19rem;
}

/* Estilização do controle de volume */
.volume-slider input {
  accent-color: #ffffff;
  cursor: pointer;
}

/* Estilização da chave de exibir/ocultar teclas */
.keys-check input {
  width: 60px;
  height: 30px;
  appearance: none;
  border-radius: 30px;
  background-color: #4b4b4b;
  cursor: pointer;
  position: relative;
}

/* Estilização da chave de exibir/ocultar teclas clicada */
.keys-check input::before {
  content: "";
  height: 20px;
  width: 20px;
  background-color: #8c8c8c;
  position: absolute;
  top: 50%;
  left: 0.3rem;
  border-radius: inherit;
  transform: translateY(-50%);
  transition: all 0.3s ease;
}

/* Estilização da chave de exibir/ocultar teclas clicada */
.keys-check input:checked::before {
  left: 2.1rem;
  background-color: #ffffff;
}

/* Estilização do bloco de teclas */
.piano-keys {
  display: flex;
  margin-top: 40px;
}

/* Estilização das teclas */
.piano-keys .key {
  cursor: pointer;
  user-select: none;
  list-style: none;
  color: #a2a2a2;
  position: relative;
  text-transform: uppercase;
}

/* Estilização das teclas brancas */
.piano-keys .white {
  width: 70px;
  height: 230px;
  border: 1px solid #000000;
  border-radius: 8px;
  background: linear-gradient(#ffffff 96%, #eeeeee 4%);
}

/* Estilização das teclas pretas */
.piano-keys .black {
  width: 44px;
  height: 140px;
  z-index: 2; /* Cria uma outra dimensão */
  margin: 0 -22px;
  border: 1px solid #000000;
  border-radius: 0 0 5px 5px;
  background: linear-gradient(#333333, #000000);
}

/* Estilização das letras nas teclas */
.piano-keys span {
  position: absolute;
  bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 1.13rem;
}

/* Estilização das teclas brancas quando ativadas */
.piano-keys .white.active {
  box-shadow: inset -5px 5px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom #ffffff 0%, #eeeeee 100%);
}

/* Estilização das teclas pretas quando ativadas */
.piano-keys .black.active {
  box-shadow: inset -5px 5px 10px rgba(255, 255, 255, 0.1);
  background: linear-gradient(to bottom #000000, #434343);
}

/* Estilização para ocultar as letras nas teclas */
.piano-keys .key.hide span {
  display: none;
}
